@mixin mybutton
    button
            background-color:  rgba(0, 0,0 ,0 )
            width: 158px
            height: 51px
            border-radius: 10px
            font-family: 'Poppins'
            font-style: normal
            font-weight: 600
            font-size: 16px
            line-height: 24px
            text-align: center
            color: black
            transition: 0.5s color,0.5s background-color, 0.5s border

    button:hover, button.active
        color: white
        background-color: #873AA9
        border: 1px solid #873AA9



::placeholder 
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 20px
    padding: 20px 0px 20px 16px


.input__body
    padding-top: 8px
    h2
        font-family: 'Poppins'
        font-style: normal
        font-weight: 600
        font-size: 16px
        line-height: 24px
        text-align: center
        color: red

.buttons_footer
    display: flex
    justify-content: space-between
    flex-direction: column

.is-invalid
    border: 2px solid #FF4545
    box-sizing: border-box
    border-radius: 8px
    margin-bottom: 8px

.ProjectModalWindow
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    background-color: #fff
    min-height: 436px
    width: 850px
    display: flex
    flex-direction: column
    // justify-content: space-between
    padding: 48px
    border-radius: 24px
    z-index: 100000
    animation-duration: 3s

    animation-name: slidein
    animation-iteration-count: 1
    transition: .5s ease
    .modalBody
        display: flex
        flex-direction: column

.slides
    display: flex
    justify-content: space-between

    @include mybutton
    button
        margin-left: 2px
        margin-right: 2px
        
        
.project_info 
    margin: 0
    .chat


