
.we__img
    position: absolute
    max-width: 80% 
    top: 100px
    left: 0px
    z-index: -100
    left: 50%
    transform: translate(-45%, 0)
    transition: 0.5s opacity


.saparator
    margin-top: 18%
    width: 100%
    justify-content: center
    display: flex

