::placeholder 
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 20px
    padding: 20px 0px 20px 16px

.input__body
    padding-top: 8px

.buttons_footer
    display: flex
    justify-content: space-between
    flex-direction: column

.is-invalid
    border: 2px solid #FF4545
    box-sizing: border-box
    border-radius: 8px
    margin-bottom: 8px



